/*  Project #1 – JavaScript Spreadsheet
    Bruno Surdi de Oliveira
    Daniele Matheus Marques */
    
.cellSelected {
    border: 2px solid #17a2b8!important
}   

#btn-clear, #btn-clear-cell{
    /* border: 2px solid #17a2b8!important */
    border-radius: 5px;
}

#input-change {
    border-radius: 5px;
}

#tableCellID {
    border-radius: 5px;
}

.onMouseOver { cursor: cell; }

#title {
    font-family: 'Syne Tactile', cursive;
}

body {
    background-color: #c7c7c7;
}