.cellSelected {
    border: 2px solid #17a2b8!important
}   

#btn-clear, #btn-clear-cell{
    /* border: 2px solid #17a2b8!important */
    border-radius: 5px;
}

#input-change {
    border-radius: 5px;
}

#tableCellID {
    border-radius: 5px;
}

.onMouseOver { cursor: cell; }